{% extends 'layout.html' %}

{% block page %}
  Blood Core
{% endblock %}

{% block content %}
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h2>Take control of your life </h2>
		  <h5> Welcome to Good Hearts, Blood Core</h5>
      
      <div class="w3-content w3-section" style ="max-width:500px; height: auto">
      <img class="mySlides" src="/img.dib" style="width:50%">
      <img class="mySlides" src="/img_1.jpg" style="width:100%">
      <img class="mySlides" src="/img_2.jpg" style="width:100%">
      <img class="mySlides" src="/img_3.jpg" style="width:100%">
      <img class="mySlides" src="/img_4.jpg" style="width:100%">
      </div>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-heart w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h2>Why use our tracker?</h2>
      <h6 class="w3-padding-32">If a person with diabetes or high blood pressure, has a meter, test strips and is testing, it's important to know what the blood glucose level means.
		  Recommended blood glucose levels have a degree of interpretation for every individual and you should discuss this with your healthcare team.</h6>

      <h3>How to monitor blood glucose levels?</h3>
      <p class="w3-text-grey">Blood sugar testing requires the use of a blood sugar meter.
      The meter measures the amount of sugar in a small sample of blood, usually from your fingertip, that you place on a disposable test strip. Even if you use a CGM, you'll still need a blood sugar meter to calibrate your CGM device daily.
      Your doctor or diabetes educator can recommend an appropriate device for you. He or she can also help you learn how to use your meter.</p>
    </div>
  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h3>How to monitor blood pessure levels?</h3>
      <p class="w3-text-grey">To check the blood pressure without the aid of an automated machine, a person will need several medical items. These are: a stethoscope, a blood pressure cuff with a squeezable balloon, an aneroid monitor, which has a numbered dial to read measurements
      To check the blood pressure manually, sit in a relaxed position with the arm at rest on a table. Secure the cuff on the bicep and squeeze the balloon to increase the pressure.
      Watch the aneroid monitor and increase the pressure to about 30 mm Hg over the normal blood pressure, or to 180 mm Hg if this is not known. When the cuff is inflated, place the stethoscope just inside the elbow crease under the cuff.
      Slowly deflate the balloon and listen through the stethoscope. When the first beats hit, note the number on the aneroid monitor. This is the systolic pressure.
      Continue listening until the steady heartbeat sound stops and record the number from the aneroid monitor again. This is the diastolic pressure. These two numbers are the blood pressure reading.</p>

      <h3>Want to keep track of your entries?</h3>
      <h5 class="w3-padding-32">Ask your doctor what a reasonable blood sugar and blood pressure ranges is for you. Your doctor will set target blood sugar and blood pressure test results based on several factors, including: Type and severity of diabetes, Age, How long you've had diabetes, Pregnancy status, The presence of diabetes complications, Overall health and the presence of other medical conditions</h5>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">For The Ones We Love</h1>
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 5000);
}
</script>
{% endblock %}