<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!--Import Google Icon Font-->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>{% block title %}{% endblock %}</title>
</head>
  
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
  .fa-anchor,.fa-coffee {font-size:200px}

  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: black;
  }

  body {
    background: linear-gradient( #4054b4 20%, #d9ddf0 80%);
  }

/* Scroll Bar */
::-webkit-scrollbar {
  width: 15px;
  height: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #4054b4;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f44336;
}

</style>
  
<body>
<!-- Desktop Nav -->
<div class="w3-bar w3-indigo w3-card w3-left-align w3-large">
  <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
    <i class="material-icons left">home</i> Blood Core
  </a>
  <a href="/checkup" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">
    <i class="material-icons left">gpp_good</i> Check Up
  </a>
  <a href="/medical" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">
    <i class="material-icons left">medication</i> Medical History
  </a>

  {% if current_user.is_authenticated %}
    <span class="w3-bar-item w3-hide-small w3-padding-large" style="float: right; font-weight: bold;">
      Welcome, {{ current_user.username }}
    </span>
    <a href="{{ url_for('logout') }}"
       class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
       style="float: right">
      <i class="material-icons left">logout</i> Logout
    </a>
  {% else %}
    <a href="{{ url_for('login') }}"
       class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
       style="float: right">
      <i class="material-icons left">login</i> Login
    </a>
  {% endif %}
</div>

<!-- Mobile Nav (inside #navDemo) -->
<div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
  <a href="/checkup" class="w3-bar-item w3-button w3-padding-large">Check Up</a>
  <a href="/medical" class="w3-bar-item w3-button w3-padding-large">Medical History</a>

  {% if current_user.is_authenticated %}
    <a class="w3-bar-item w3-button w3-padding-large">
      Welcome, {{ current_user.username }}
    </a>
    <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-padding-large">Logout</a>
  {% else %}
    <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-padding-large">Login</a>
  {% endif %}
</div>

<!-- Header -->
<header class="w3-container w3-indigo w3-center" style="padding:80px 10px">
  <h4 class="w3-margin w3-jumbo">{% block page %}{% endblock %}</h4>
</header>

{% with messages = get_flashed_messages() %}
{% if messages %}
<nav class="white black-text" style="padding: 10px">
  <div class="nav-wrapper">
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  </div>
</nav>
{% endif %}
{% endwith %}
    
<div id="content">{% block content %}{% endblock %}</div>

<!-- Footer -->
<footer class="w3-container w3-padding-24 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-16">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a>Good Hearts</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
<script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>