{% extends "layout.html" %}
{% block title %}Blood Core{% endblock %}
{% block page %}Sign Up{% endblock %}

{{ super() }}

{% block content %}
<style>
label{
  font-size: large;
  padding-top: 2px;
  color: black;
}

.w3-row-padding{
  padding: 15px;
}

.w3-card-4{
  position: relative;
  margin: auto;
  padding: 20px;
  height: 100%;
  
}

</style>

<div class="w3-container">
    <div class="w3-card-4">
      <form id="myForm" class="w3-container" method="POST" action="/signup">
          {{ form.csrf_token }}

        <div class="w3-row-padding">
          <div class="w3-half">
            {{ form.firstname.label }}
            {{ form.firstname(size=20, class="validate") }}
          </div>
          
          <div class="w3-half"> 
            {{ form.lastname.label }}
            {{ form.lastname(size=20, class="validate") }}
          </div>
        </div>
        
        <div class="w3-row-padding">
          <div class="w3-half"> 
            {{ form.dob.label }}
            {{ form.dob(size=20, class="validate") }}
          </div>

          <div class="w3-half"> 
            {{ form.address.label }}
            {{ form.address(size=100, class="validate") }}
          </div>
        </div>

        <div class="w3-row-padding">
          <div class="w3-half">
            {{ form.email.label }}
            {{ form.email(size=50, class="validate") }}
          </div>
          
          <div class="w3-half"> 
            {{ form.username.label }}
            {{ form.username(size=20, class="validate") }}
          </div>
        </div>

        <div class="w3-row-padding">
          <div class="w3-half">
            {{ form.password.label }}
            {{ form.password(size=20, class="validate") }}
          </div>

          <div class="w3-half">
            {{ form.confirm.label }}
            {{ form.confirm(size=20, class="validate") }}
          </div>
        </div>

        <div class="w3-row-padding">
          <div class="w3-center">
            {{ form.submit }}
          </div>
        </div> 
      </form>
    </div>
</div>
{% endblock %}
{% block footer %}Blood Core{% endblock %}